* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #9CD2AE;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 200px;
    font-size: 36px;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
}
nav a {
    color: white;
    text-decoration: none;
    background-color: #d67c2a;
    height: 36px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;    
}
.heroimage {
    background-image: url(https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80buschetta);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.items {
    height: 272px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    
}

.bruschetta {
    background-image: url("https://images.unsplash.com/photo-1506280754576-f6fa8a873550?ixlib=rb-1.2.1&ixid=MnwxM[因G90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
}

.ceasar {
    background-image: url("https://images.unsplash.com/photo-1550304943-4f24f54ddde9?ixlib=rb-1.2.1&ixid=MnwxMjA3[因90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  }
  .carbonara {
    background-image: url("https://images.unsplash.com/photo-1627207644206-a2040d60ecad?ixlib=rb-1.2.1&ixid=MnwxM[因G90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  }
  .tiramisu {
    background-image: url("https://images.unsplash.com/photo-1567588988863-bb7ca30a5914?ixlib=rb-1.2.1&ixid=MnwxM[因G90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80");
  }
  .items a {
    color: white;
    text-decoration: none;
    background-color: #d67c2a;
    height: 36px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }
  footer a {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    background-color: #3C5444;
  }
  @media (min-width: 768px) {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .items {
      width: 350px;
    }
    main {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 30px;
      padding: 9px;
    }
  }
  @media (min-width: 1200px) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px 0 10px 0;
    }
    .items {
      width: 280px;
      height: 217px;
    }
    main {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    footer {
      justify-content: space-around;
    }
  }

